.head-container {
    box-sizing: content-box;
    width: 100vw; 
    height: auto;
    margin: 50px 0 0 0;
    padding: 0px 0px 0px 0px;
    background-image: url(../img/pexels-eriks-abzinovs-3160398.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 8;
}
.head_cont {
    margin: 50px auto 0 auto;
    padding-top: 30px;
    max-width: 93%;   
    background-color:rgb(164, 209, 201);
}

.mini_title {
    font-size: 15px;
    max-width: 100%;
}

#head_content {
    margin-top: 40px;
}

.content_row {
    margin: 0px 2%;
    padding: 0px 10%;
    width: 50%;
    text-align: left;
}

/* .first_row {
    border-right: 1px solid black;
} */

.head_label {
    width: fit-content;
    padding: 5px 10px;
    margin: 20px auto;
    color: rgb(209, 240, 231);
    background-color: rgb(20, 20, 20);
}

.content_p_left {
    padding: 15px 10px 15px 35px;
    margin-bottom: 20px;
}

.content_p_right {
    padding: 15px 35px 15px 10px;
    margin-bottom: 20px;
}

.cont_left {
    border-right: 1px rgb(20, 20, 20) solid;
}

@media only screen and (max-width: 766px) {
    #head_content {
        flex-wrap: wrap;
    }

    .cont_left {
        border: none;
    }

    .content_p_right {
        padding: 15px 10px 15px 35px;
        margin-bottom: 20px;
    }
}


